.title {
  text-align: center;
}

.container {
  width: 800px;
  margin-top: 5rem;
  padding: 2rem 5rem;
  background: $neutral_white;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.176) 0px 16px 48px 0px;
}

.tip-container {
  @include flex(center, unset, row);
  gap: 30px;
}

.input-tip {
  flex: 1 0 50%;

  .bill-input {
    @include flex(flex-start, flex-start, column);
    position: relative;

    label {
      font-size: 1.5rem;
      font-weight: bold;
      color: $neutral_dark_grayish_cyan_one;
      width: 100%;
      @include flex(space-between, center, row);

      .error-bill {
        color: rgb(255, 49, 49);
      }
    }

    input[type="text"] {
      width: 100%;
      height: 50px;
      border: none;
      margin-top: 1rem;
      border-radius: 0.5rem;
      background: $neutral_light_grayish_cyan_two;
      padding: 1rem 1rem;
      direction: rtl;
      color: $neutral_very_dark_cyan;
      font-size: 2.4rem;
      font-weight: bold;
      font-family: "Space Mono", monospace;

      &:focus {
        border: 2px solid $primary_strong_cyan;
        outline: 0;
      }
    }

    ::placeholder {
      color: #9ebbbd;
    }

    .dollar {
      position: absolute;
      top: 50px;
      left: 15px;
    }
  }

  .select-tip {
    margin-top: 3rem;
    h4 {
      font-size: 1.5rem;
      color: $neutral_dark_grayish_cyan_one;
    }

    .tip-numbers {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      margin-top: 1rem;

      span {
        padding: 1rem;
        background: $neutral_very_dark_cyan;
        border-radius: 0.5rem;
        color: $neutral_white;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
          background: $primary_strong_cyan;
          color: $neutral_very_dark_cyan;
          font-weight: bold;
        }
      }

      #custom {
        border: none;
        height: 45px;
        border-radius: 0.5rem;
        background: $neutral_light_grayish_cyan_two;
        padding: 0.5rem 0.5rem;
        direction: rtl;
        color: $neutral_very_dark_cyan;
        font-size: 2.4rem;
        font-weight: bold;
        font-family: "Space Mono", monospace;
        border: 2px solid transparent;

        &:focus {
          border: 2px solid $primary_strong_cyan;
          outline: 0;
        }
      }

      .active {
        background: $primary_strong_cyan;
        color: $neutral_very_dark_cyan;
        font-weight: bold;
      }

      .custom {
        background: $neutral_light_grayish_cyan_two;
        color: $neutral_dark_grayish_cyan_one;
        font-weight: bold;
      }
    }
  }

  .no-of-people {
    margin-top: 3rem;
    @include flex(flex-start, flex-start, column);
    position: relative;

    label {
      font-size: 1.5rem;
      font-weight: bold;
      color: $neutral_dark_grayish_cyan_one;
      width: 100%;
      @include flex(space-between, center, row);

      .error {
        color: rgb(255, 49, 49);
      }
    }

    input[type="text"] {
      width: 100%;
      height: 50px;
      border: none;
      margin-top: 1rem;
      border-radius: 0.5rem;
      background: $neutral_light_grayish_cyan_two;
      padding: 1rem 1rem;
      direction: rtl;
      color: $neutral_very_dark_cyan;
      font-size: 2.4rem;
      font-weight: bold;
      font-family: "Space Mono", monospace;
      position: relative;

      &:focus {
        border: 2px solid $primary_strong_cyan;
        outline: 0;
      }
    }

    ::placeholder {
      color: #9ebbbd;
    }

    .dollar {
      position: absolute;
      top: 50px;
      left: 15px;
    }
  }
}

.bill-calculation {
  flex: 1 0 50%;
  background: $neutral_very_dark_cyan;
  border-radius: 1rem;
  padding: 4rem;
  position: relative;

  .tip-amount {
    @include flex(space-between, center, row);
    h5 {
      color: $neutral_white;
      font-size: 1.5rem;
    }

    small {
      color: $neutral_light_grayish_cyan_one;
      opacity: 0.5;
    }

    .money-tip {
      @include flex(center, center, row);
      .amount {
        display: flex;
        font-size: 4rem;
        color: $primary_strong_cyan;
        font-weight: bold;
      }
    }
  }

  .total-tip {
    margin-top: 3rem;
    @include flex(space-between, center, row);

    h5 {
      color: $neutral_white;
      font-size: 1.5rem;
    }

    small {
      color: $neutral_light_grayish_cyan_one;
      opacity: 0.5;
    }

    .total-tip-person {
      @include flex(center, center, row);
      .tip-total {
        display: flex;
        font-size: 4rem;
        color: $primary_strong_cyan;
        font-weight: bold;
      }
    }
  }

  .button-reset {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;

    .btn-reset {
      width: 100%;
      padding: 1rem;
      border: none;
      border-radius: 0.5rem;
      background: $neutral_very_dark_cyan;
      filter: brightness(120%);
      cursor: pointer;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: bold;
      font-family: "Space Mono", monospace;
      color: $neutral_dark_grayish_cyan_one;
    }

    .btn-reset.active {
      background: $primary_strong_cyan;
      color: $neutral_very_dark_cyan;
    }

    .btn-reset:active {
      transform: translateY(1px);
    }
  }
}
